{% extends 'base.html' %}

{% block body %}

    <div class="content">

        <div>
            <h1>Adicionar novo Part Number</h1>

            <hr>

            <form method="POST">
                    <br>

                    <h4 for="meuInput">Part Number:</h4>
                    <input type="text" id="part_number" name="part_number" placeholder="Part Number...">

                    <h4 for="meuInput">Product:</h4>
                    <input type="text" id="product" name="product" placeholder="Little description...">
                    
                    <h4 for="vendor_id">Vendor</h4>
                    <select name="vendor_id" id="vendor_id">
                        {% for row in vendor %}
                        <option value="{{ row.id_vendors }}">{{ row.name }}</option>
                        {% endfor %}
                    </select>

                    <h4 for="obsolescence">Obsolescence</h4>
                    <select name="obsolescence" id="obsolescence">
                        {% for row in obsolescence %}
                        <option value="{{ row.id_obs }}">{{ row.status }}</option>
                        {% endfor %}
                    </select>
                    
                    <h4 for="meuInput">Year of Discontinued State:</h4>
                    <input type="text" id="end_life" name="end_life" placeholder="Ex.: 2025">
                    
                    <br>
                    <input type="submit" value="Salvar">
                    <input type="reset" value="Cancelar">
                </div>
                
            </form>
        </div>

        <hr>
    
    </div>

{% endblock %} 
