{% extends 'base.html' %}

{% block body %}

    <div class="content">

        <div>
            <h1 style="padding-left: 35%;">Adicionar Part Number</h1>

            <hr>

            <form method="POST" enctype="multipart/form-data">

                <div class="row">
                    
                    <div class="col-md-3 form-group">
                        {{ form_pnumber.part_number.label(class_="form-label") }}
                        {{ form_pnumber.part_number(class_="form-input") }}
                    </div>

                    <div class="col-md-3 form-group">
                        {{ form_pnumber.product.label(class_="form-label") }}
                        {{ form_pnumber.product(class_="form-input") }}
                    </div>
                    
                    <div class="col-md-3 form-group">
                        {{ form_pnumber.vendor.label(class_="form-label") }}
                        {{ form_pnumber.vendor(class_="form-input") }}
                    </div>
                    <div class="col-md-3 form-group">
                        <a type="button" class="btn btn-primary btn-align" href="{{ url_for('add_vendor') }}">
                            Adicionar Vendor +
                        </a>
                    </div>

                </div>
                
                <div class="row">
                    
                    <div class="col-md-3 form-group">
                        {{ form_pnumber.obsolescence.label(class_="form-label") }}
                        {{ form_pnumber.obsolescence(class_="form-input") }}
                    </div>
                    <div class="col-md-3 form-group">
                        {{ form_pnumber.year_discontinued.label(class_="form-label") }}
                        {{ form_pnumber.year_discontinued(class_="form-input") }}
                    </div>
                    
                    <div class="col-md-3 form-group">
                        {{ form_pnumber.foto.label(class_="form-label") }}
                        {{ form_pnumber.foto(class_="form-input") }}
                        <img id="preview" src="#" style="display: none; max-width: 200px; max-height: 200px;"/>
                    </div>
                </div>                 
                
                <hr>
                {{ form_pnumber.save_btt(class_="btn btn-success btn-lg btn-save") }}
            <button style="width: 100%; margin-top: 0.5cm;" class="btn btn-danger" type="button" onclick="resetForm('form_addVendor')">Cancelar</button>
            </div>
                
            </form>
        </div>
    
    </div>

{% endblock %} 
