<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTMS - NSA AUTOMATION</title>
    
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}" rel="stylesheet" >
    
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        $(document).ready(function() {
            // Adiciona a classe select2 a todos os elementos <select>
            $('select').addClass('select2');
            // Inicializa o Select2 em todos os elementos <select>
            $('.select2').select2();
            })
    </script>
    {% block head %}
    {% endblock %}
    
</head>
<body>
    <div class="container">
        {% with mensagens = get_flashed_messages(with_categories=True) %}
            {% if mensagens %}
                {% for categoria, mensagem in mensagens%}
                    <div class="alert {{ categoria }}">
                        {{ mensagem }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% if current_user.is_authenticated and request.endpoint != 'login' %}
        {% include 'navbar.html' %}
    {% endif %}

    
    {% block body %} {% endblock %}
</body>
</html>