{% extends 'base.html' %}

{% block body %}

    <div class="content">

        <div>
            <h1>Editar - Propriedades do item</h1>
        </div>

        <hr>

        <form id="form-edit-view" method="post">
            <div>
                <div class="info-item">
                    <h4> Part Number </h4>
                    <select name="part_number" id="part_number" onchange="updateText('part_number', 'Vendor', vendorsData)">
                        {% for row in part_list %}
                            <option 
                            {% if part.id_parts == row.id_parts %} 
                                selected 
                            {% endif %}
                            value="{{ row.id_parts }}">{{ row.part_number }}</option>
                        {% endfor %}
                    </select>
        
                    <h4>Location</h4>
                    <select name="loc" id="loc" onchange="updateText('loc', 'groups', locData)">
                        {% for row in loc %}
                            <option 
                            {% if rpn.loc_id == row.id_location %} 
                                selected 
                            {% endif %}
                            value="{{ row.id_location }}">{{ row.description_category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="info-item">
                    <h6>Vendor</h6>
                    
                    <h7 id="Vendor"> 
                        {% for row in vendors_list %}
                            {% if part.vendor_id == row.id_vendors %} 
                                {{ row.name }}
                            {% endif %}
                        {% endfor %}
                    </h7>

                    <h6>Obsolescence</h6>
                    
                    <h7 id="Obsolescence"> 
                        {% for row in obs %}
                            {% if part.obsolescence_id == row.id_obs %} 
                                {{ row.status }}
                            {% endif %}
                        {% endfor %}
                    </h7>
                    <a class="btn btn-primary" href="{{ url_for('edit_part_number', partnumber=part.part_number) }}">Editar Part Number</a>

                    <h4>Responsible Area</h4>
                    
                    <h7 id="groups"> 
                        {% for row in loc %}
                            {% if rpn.loc_id == row.id_location %} 
                                {{ row.management }}
                            {% endif %}
                        {% endfor %}
                    </h7>
                </div>

                <div class="info-item">          
                    <h4>System Group</h4>
                    <select name="sg_value" id="sg_value" >
                        {% for row in sgroup %}
                            <option 
                            {% if rpn.sgroups_id == row.id_s_group %} 
                                selected 
                            {% endif %}
                            value="{{ row.id_s_group }}">{{ row.system_group }}</option>
                        {% endfor %}
                    </select>

                    <h4 > System Complexity </h4>
                    <span class="static-text">  </span>
                    <select name="system_complexity" id="system_complexity">
                        <option value=1 {% if rpn.scomplexity_id == 1 %} selected {% endif %}>Low & Multiple Sourcing</option>
                        <option value=2 {% if rpn.scomplexity_id == 2 %} selected {% endif %}>Medium Specialized & Limited Sourcing</option>
                        <option value=3 {% if rpn.scomplexity_id == 3 %} selected {% endif %}>Medium Specialized & Multiple Sourcing</option>
                        <option value=4 {% if rpn.scomplexity_id == 4 %} selected {% endif %}>Highly Specialized &  Limited Sourcing</option>
                        <option value=5 {% if rpn.scomplexity_id == 5 %} selected {% endif %}>Incomplete</option>
                    </select>
                </div>
                <div class="info-item">
                    <h4>Spare Availability</h4>
                    <span class="static-text">  </span>
                    <select name="sa_value" id="sa_value">
                        <option value=5 {% if rpn.spare_av_id == 5 %} selected {% endif %}>Incomplete</option>
                        <option value=1 {% if rpn.spare_av_id == 1 %} selected {% endif %}>Installed Spare</option>
                        <option value=3 {% if rpn.spare_av_id == 3 %} selected {% endif %}>Spare On Site or Off Site < 8 Hours Lead Time</option>
                        <option value=2 {% if rpn.spare_av_id == 2 %} selected {% endif %}>Spare On Site or Off Site > 8 Hours Lead Time</option>
                        <option value=4 {% if rpn.spare_av_id == 4 %} selected {% endif %}>No Spare</option>
                    </select>
                    
                    <h4>Costumer Impact</h4>
                    <span class="static-text">  </span>
                    <select name="ci_value" id="ci_value">
                        <option value=4 {% if rpn.c_impact_id == 4 %} selected {% endif %}>Incomplete</option>
                        <option value=1 {% if rpn.c_impact_id == 1 %} selected {% endif %}>No Impact</option>
                        <option value=2 {% if rpn.c_impact_id == 2 %} selected {% endif %}>Shipment Delays</option>
                        <option value=3 {% if rpn.c_impact_id == 3 %} selected {% endif %}>Customer Shutdown</option>
                    </select>
                </div>
                <div class="info-item">
                    <h4>Spare Condition</h4>
                    <span class="static-text">  </span>
                    <select name="sc_value" id="sc_value">
                        <option value=6 {% if rpn.spare_c_id == 6 %} selected {% endif %}>Incomplete</option>
                        <option value=1 {% if rpn.spare_c_id == 1 %} selected {% endif %}>Excellent Condition</option>
                        <option value=3 {% if rpn.spare_c_id == 3 %} selected {% endif %}>Good Condition</option>
                        <option value=5 {% if rpn.spare_c_id == 5 %} selected {% endif %}>Fair Condition</option>
                        <option value=4 {% if rpn.spare_c_id == 4 %} selected {% endif %}>Poor Condition</option>
                        <option value=2 {% if rpn.spare_c_id == 2 %} selected {% endif %}>Do Not Use or No Spare</option>
                    </select>   

                    <h4>Vendor Support</h4>
                    <select name="vendor_support" id="vendor_support">
                        <option value=1 {% if rpn.vendorsuport_id == 1 %} selected {% endif %}>Very Limited</option>
                        <option value=2 {% if rpn.vendorsuport_id == 2 %} selected {% endif %}>Poor</option>
                        <option value=3 {% if rpn.vendorsuport_id == 3 %} selected {% endif %}>Marginal</option>
                        <option value=4 {% if rpn.vendorsuport_id == 4 %} selected {% endif %}>Adequate</option>
                        <option value=5 {% if rpn.vendorsuport_id == 5 %} selected {% endif %}>Excellent</option>
                        <option value=6 {% if rpn.vendorsuport_id == 6 %} selected {% endif %}>Incomplete</option>
                    </select>

                </div>

                <h4 for="meuInput">Quantity:</h4>
                <input type="text" id="quantity" name="quantity" value="{{ rpn.quantity }}">

                <h4 for="meuInput">Description:</h4>
                <input type="text" id="description" name="description" value="{{ rpn.description }}">

            </div>
        
            <button type="submit">Salvar</button>
        </form>
    
        <hr>
        
    </div>



{% endblock %} 

